* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cor-pricipal: #180f4a;
  --cor-secundaria: #5c5b5f;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: black;
  font-family: "Noticia Text", sans-serif;
}

.navbar{
  background-color: rgb(10, 10, 10);
}

.cor-principal {
  color: var(--cor-pricipal);
}

.cor-segundaria {
  color: var(--cor-secundaria);
}

.logo {
  font-size: 2.5rem;
  color: var(--cor-pricipal);
}

.nav-lista {
  font-size: 20px;
}

.section-lucas{
  margin-top: 3rem;
}

.img-principal {
  height: 400px;
  object-fit: cover;
  transition: height 0.4s ease;
}

.titulo {
  font-size: 2.5rem;
}

.subtitulo {
  font-size: 1.8rem;
}

.section-trajetoria {
  margin-top: 6rem;
}

.titulo-trajetoria {
  margin-bottom: 4rem;
}

.card-img-top {
  height: 250px;
  width: 100%;
}

.card-trajetoria{
  border: 1px solid var(--cor-secundaria);
}

.campo-trajetoria{
  background-color: rgb(241, 240, 240);
}

.custom-modal {
  max-width: 70%;
  margin: auto;
}

.section-habilidades{
  margin-top: 6rem;
}

.card-habilidades {
  height: 200px;
  margin: auto;
}

.img-habilidades {
  height: 100px;

}

.section-carrossel{
  margin-top: 6rem;
}

.box {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 8rem;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 60deg)) translateZ(300px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

footer {
  margin-top: 18rem;
  text-align: center;
  display: block;
  background-color: black;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
}

footer p{
  font-size: 0.7rem;
}

[data-anime] {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease;
}

[data-anime].animate {
  opacity: 1;
  transform: translateX(0);
}

[data-anime="right"] {
  opacity: 0;
  transform: translateX(50px); 
  transition: all 0.8s ease;
}

[data-anime="right"].animate {
  opacity: 1;
  transform: translateX(0);
}

.custom-modal .modal-content {
  background-color: rgb(214, 212, 212); 
  color: black; 
}

.btn{
  background-color: var(--cor-pricipal);
}

@media (min-width: 768px) {
  .section-lucas{
    margin-top: 6rem;
  }
  
  .titulo {
    font-size: 3rem;
  }

  .subtitulo {
    font-size: 2rem;
  }

  .img-principal {
    height: 500px;
  }

  .custom-modal {
    max-width: 60%;
    margin: auto;
  }

  .section-trajetoria {
    margin-top: 14rem;
  }

  .section-carrossel{
    margin-top: 8rem;
  }

  .box {
    width: 200px;
    height: 200px;
  }

  footer p{
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .section-lucas{
    margin-top: 1rem;
  }
  
  .titulo {
    font-size: 3,5rem;
  }

  .subtitulo {
    font-size: 2.5rem;
  }

  .img-principal {
    height: 400px;
  }

  .section-trajetoria {
    margin-top: 10rem;
  }

  .section-habilidades{
    margin-top: 10rem;
  }

  
  .section-carrossel{
    margin-top: 8rem;
  }

  footer {
    margin-top: 20rem;
  }
}

@media (min-width: 1200px) {
  .section-lucas{
    margin-top: 7rem;
  }

  .logo{
    margin-top: 1rem;
  }

  .box {
    width: 250px;
    height: 250px;
  }
}


#menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.95);
  transition: opacity 0s ease, transform 0.4s ease;
}

#menuOverlay.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

#menuOverlay.inactive {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}

#menuOverlay .nav-link {
  font-size: 2rem;
  margin: 2.5rem 0;
  text-decoration: none;
}

#menuOverlay .nav-link:hover {
  color: #ccc;
}

#menuOverlay .close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}